.mainAnimation {
  background: radial-gradient(
    circle,
    rgba(80, 9, 121, 0.3) 0%,
    rgba(1, 1, 135, 0.12) 60%
  );
  background-size: 120% 250%;
  animation: gradient 20s ease infinite;
  backdrop-filter: blur(80%);
}

.lightAnimation {
  background: radial-gradient(
    circle,
    rgba(80, 9, 121, 0.06) 0%,
    rgba(1, 1, 135, 0.03) 60%
  );
  background-size: 150% 150%;
  animation: gradient 20s ease infinite;
  backdrop-filter: blur(80%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 150%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.stackLogos {
  transition: 300ms ease all;
}

.stackLogos:hover {
  transform: scale(1.03);
}
